.bookmark {
    
    width: 25px;
    vertical-align: middle;
    height: 25px;
    display: inline-block;
    cursor:pointer;

}

body[dir="rtl"] .bookmark{
    margin-right : -6px;
}

body[dir="ltr"] .bookmark{
    margin-left : -6px;
}

.add{
    background-image: url('chrome-extension://__MSG_@@extension_id__/assets/img/addButton.png');
}

.remove{
    background-image: url('chrome-extension://__MSG_@@extension_id__/assets/img/removeButton.png');
}

/**
 * Fixing postDateElementWrongVerticalAlign from being above icons 
 */
div[data-testid='story-subtitle'] a[role='button'] span,
div[data-testid='story-subtitle'] a[rel='theater'] span {
    vertical-align: middle;
}